pipeline/pl_101_EnvironmentDefinition.json
{
	"name": "pl_101_EnvironmentDefinition",
	"properties": {
		"activities": [
			{
				"name": "Environment Variables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Server Name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Database Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_ControlDb",
						"type": "DatasetReference",
						"parameters": {
							"pa_serverName": {
								"value": "@variables('va_ControlServerName')",
								"type": "Expression"
							},
							"pa_databaseName": {
								"value": "@variables('va_ControlDatabaseName')",
								"type": "Expression"
							},
							"pa_tableSchema": "ingest",
							"pa_tableName": "vw_ArtifactsToIngestBySource"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set Server Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "va_controlServerName",
					"value": {
						"value": "@concat(\n    'siaf'\n    ,pipeline().globalParameters.gp_Environment\n    ,pipeline().globalParameters.gp_CustName\n    ,'sqlserver.database.windows.net'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Database Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "va_controlDatabaseName",
					"value": {
						"value": "@concat(\n    'siaf'\n    ,pipeline().globalParameters.gp_Environment\n    ,pipeline().globalParameters.gp_CustName\n    ,'sqldatabase'\n)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"va_controlServerName": {
				"type": "String"
			},
			"va_controlDatabaseName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "100_Control"
		},
		"annotations": []
	}
}