pipeline/Pl_101_EnvironmentDefinition.json
{
	"name": "Pl_101_EnvironmentDefinition",
	"properties": {
		"activities": [
			{
				"name": "Environment Variables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Control Server Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_ControlDb",
						"type": "DatasetReference",
						"parameters": {
							"ServerName": {
								"value": "@variables('Va_SqlServerName')",
								"type": "Expression"
							},
							"DatabaseName": "siafdevcustnamesqldatabase",
							"TableSchema": "ztg",
							"TableName": "MyTable"
						}
					}
				}
			},
			{
				"name": "Set Control Server Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Va_SqlServerName",
					"value": {
						"value": "@concat(\n     'siaf'\n    ,pipeline().globalParameters.Gp_Environment\n    ,'custnamesqlserver.database.windows.net'\n    )",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Va_SqlServerName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "100_Control"
		},
		"annotations": []
	}
}