pipeline/pl_101_EnvironmentDefinition.json
{
	"name": "pl_101_EnvironmentDefinition",
	"properties": {
		"activities": [
			{
				"name": "Get Environment Variables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Server Name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Database Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_ControlDb",
						"type": "DatasetReference",
						"parameters": {
							"pa_serverName": {
								"value": "@variables('va_controlServerName')",
								"type": "Expression"
							},
							"pa_databaseName": {
								"value": "@variables('va_controlDatabaseName')",
								"type": "Expression"
							},
							"pa_tableSchema": "control",
							"pa_tableName": "vw_EnvironmentParameters"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set Server Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "va_controlServerName",
					"value": {
						"value": "@concat(\n    'siaf'\n    ,pipeline().globalParameters.gp_environment\n    ,pipeline().globalParameters.gp_custName\n    ,'sqlserver.database.windows.net'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Database Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "va_controlDatabaseName",
					"value": {
						"value": "@concat(\n    'siaf'\n    ,pipeline().globalParameters.gp_environment\n    ,pipeline().globalParameters.gp_custName\n    ,'sqldatabase'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Return Control Server Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Environment Variables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "va_environmentVariables",
							"value": {
								"type": "Expression",
								"content": "@activity('Get Environment Variables').output"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"va_controlServerName": {
				"type": "String"
			},
			"va_controlDatabaseName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "100_Control"
		},
		"annotations": []
	}
}