pipeline/pl_201_IngestSqlTable_SAMI.json
{
	"name": "pl_201_IngestSqlTable_SAMI",
	"properties": {
		"activities": [
			{
				"name": "Copy table to Landing zone",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Source parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_AzSqlTable_SAMI",
						"type": "DatasetReference",
						"parameters": {
							"pa_serverName": "unservidorcualquiera.database.windows.net",
							"pa_databaseName": "unadatabasecualquiera",
							"pa_tableSchema": "SalesLT",
							"pa_tableName": "ProductModel"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_AzStAccParquet_SAMI",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Source parameters",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_ControlDb",
						"type": "DatasetReference",
						"parameters": {
							"pa_serverName": {
								"value": "@pipeline().parameters.pa_controlServerName",
								"type": "Expression"
							},
							"pa_databaseName": "siafdevcustnamedatabase",
							"pa_tableSchema": "ingest",
							"pa_tableName": "vw_SourceSystemParameters"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Get Environment Variables",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_101_EnvironmentDefinition",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Environment Variables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "va_environmentVariables",
					"value": {
						"value": "@activity('Get Environment Variables').output.pipelineReturnValue.value.va_environmentVariables",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pa_controlServerName": {
				"type": "string",
				"defaultValue": "siafdevcustnamesqlserver.database.windows.net"
			}
		},
		"variables": {
			"va_environmentVariables": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "200_Ingestion"
		},
		"annotations": []
	}
}