siafdevcustnamedatafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "siafdevcustnamedatafactory"
		},
		"ls_AzDataLakeStorage_SAMI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().pa_stAccUrl}"
		},
		"ls_AzSqlDatabase_SAMI_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "@{linkedService().pa_serverName}"
		},
		"ls_AzSqlDatabase_SAMI_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "@{linkedService().pa_databaseName}"
		},
		"ls_ControlDb_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "@{linkedService().pa_serverName}"
		},
		"ls_ControlDb_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "@{linkedService().pa_databaseName}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_000_MainTestingPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_200_Pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "200_Ingestion"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_300_Pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "300_Tranformation"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzDataLakeStorage_SAMI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pa_stAccUrl": {
						"type": "string",
						"defaultValue": "https://siafdevcustnamestaccraw.dfs.core.windows.net/"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_AzDataLakeStorage_SAMI_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzSqlDatabase_SAMI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pa_serverName": {
						"type": "string",
						"defaultValue": "unservidorcualquiera.database.windows.net"
					},
					"pa_databaseName": {
						"type": "string",
						"defaultValue": "unadatabasecualquiera"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_AzSqlDatabase_SAMI_properties_typeProperties_server')]",
					"database": "[parameters('ls_AzSqlDatabase_SAMI_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity",
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_ControlDb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"pa_serverName": {
						"type": "string"
					},
					"pa_databaseName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_ControlDb_properties_typeProperties_server')]",
					"database": "[parameters('ls_ControlDb_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity",
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_AzSqlTable_SAMI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzSqlDatabase_SAMI",
					"type": "LinkedServiceReference",
					"parameters": {
						"pa_serverName": {
							"value": "@dataset().pa_serverName",
							"type": "Expression"
						},
						"pa_databaseName": {
							"value": "@dataset().pa_databaseName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pa_serverName": {
						"type": "string"
					},
					"pa_databaseName": {
						"type": "string"
					},
					"pa_tableSchema": {
						"type": "string"
					},
					"pa_tableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pa_tableSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pa_tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzSqlDatabase_SAMI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_AzStAccParquet_SAMI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzDataLakeStorage_SAMI",
					"type": "LinkedServiceReference",
					"parameters": {
						"pa_stAccUrl": "https://siafdevcustnamestaccraw.dfs.core.windows.net/"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "landing"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzDataLakeStorage_SAMI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ControlDb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ControlDb",
					"type": "LinkedServiceReference",
					"parameters": {
						"pa_serverName": {
							"value": "@dataset().pa_serverName",
							"type": "Expression"
						},
						"pa_databaseName": {
							"value": "@dataset().pa_databaseName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"pa_serverName": {
						"type": "string"
					},
					"pa_databaseName": {
						"type": "string"
					},
					"pa_tableSchema": {
						"type": "string"
					},
					"pa_tableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().pa_tableSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().pa_tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ControlDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_101_EnvironmentDefinition')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Environment Variables",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set Server Name",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Database Name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_ControlDb",
								"type": "DatasetReference",
								"parameters": {
									"pa_serverName": {
										"value": "@variables('va_controlServerName')",
										"type": "Expression"
									},
									"pa_databaseName": {
										"value": "@variables('va_controlDatabaseName')",
										"type": "Expression"
									},
									"pa_tableSchema": "ingest",
									"pa_tableName": "vw_ArtifactsToIngestBySource"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Set Server Name",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "va_controlServerName",
							"value": {
								"value": "@concat(\n    'siaf'\n    ,pipeline().globalParameters.gp_environment\n    ,pipeline().globalParameters.gp_custName\n    ,'sqlserver.database.windows.net'\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Database Name",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "va_controlDatabaseName",
							"value": {
								"value": "@concat(\n    'siaf'\n    ,pipeline().globalParameters.gp_environment\n    ,pipeline().globalParameters.gp_custName\n    ,'sqldatabase'\n)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"va_controlServerName": {
						"type": "String"
					},
					"va_controlDatabaseName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "100_Control"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_ControlDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_201_IngestSqlTable_SAMI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_AzSqlTable_SAMI",
								"type": "DatasetReference",
								"parameters": {
									"pa_serverName": "unservidorcualquiera.database.windows.net",
									"pa_databaseName": "unadatabasecualquiera",
									"pa_tableSchema": "SalesLT",
									"pa_tableName": "ProductModel"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_AzStAccParquet_SAMI",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "200_Ingestion"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_AzSqlTable_SAMI')]",
				"[concat(variables('factoryId'), '/datasets/ds_AzStAccParquet_SAMI')]"
			]
		}
	]
}